<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="head">
        <div class="header">
            <h1 class="font"><i class="fa-brands fa-bitcoin" style="color:orange;"></i></h1>
            <h1 class="cry"><i>bitcoin 2.0</i></h1>
        </div>
        <nav>
            <a href="#" class="a">Buy Bitcoin</a>
            <a href="#" class="a">Spend Bitcoin</a>
            <a href="#" class="a">Innovation</a>
            <a href="#" class="a">participate</a>
            <a href="#" class="a">FAQ</a>
        </nav>
        <div class="lastheader">
            <h2 class="font1"><i class="fa-solid fa-globe" style="color:black;"></i></h2>
            <h2 class="eng">English</h2>
            <h2 class="help">Help</h2>
        </div>
    </header>
    <div class="bgvdo">
        <!-- <video autoplay loop muted plays-inline>
            <source src="../static/videos/y2mate.com - stock market animation_720p.MP4" type="video/MP4">
        </video> -->
        <img src="../static/images/bitcoin.webp" alt="">
    </div>

    <div class="bgtext">
        <h1 class="content">Bitcoin is an innovative payment </h1>
        <h1 class="content1">network and a new kind of money</h1>
        <!-- <h2 class="spl">Buy Bitcoins,Ethereum,and all your favourite crypto </h2> -->
    </div>

    <div class="points">
        <div class="p1">
            <h3><i class="fa-regular fa-circle-check" style="color: white;"></i></h3>
            <h3 class="one">Get started with Bitcoin</h3>
        </div>
        <div class="p2">
            <h3><i class="fa-regular fa-circle-check" style="color: white;"></i></h3>
            <h3 class="two">Choose your wallet</h3>
        </div>
        <div class="p3">
            <h3><i class="fa-regular fa-circle-check" style="color: white;"></i></h3>
            <h3 class="three">Buy Bitcoin</h3>
        </div>
        

        <a href="{{url_for('coins')}}" class="btn"><i class="fa-regular fa-circle-play" style="color: white;" ></i> What is Bitcoin?</a>



    </div>
</body>
</html>