<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Values</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
</head>

<body>
    <img src="../static/images/bitcoin2.jpg" alt="" height="100%" width="100%">
    <header class="headerr">
        <div class="header">
            <h1 class="font"><i class="fa-brands fa-bitcoin" style="color:orange";></i></h1>
            <h1 class="cry"><i>bitcoin 2.0</i></h1>
        </div>
        <nav>
            <a href="#" class="a">Buy bitcoin</a>
            <a href="#" class="a">Spend bitcoin</a>
            <a href="#" class="a">Innovation</a>
            <a href="#" class="a">Participate</a>
            <a href="#" class="a">FAQ</a>
        </nav>
        <div class="lastheader">
            <h2 class="font1"><i class="fa-solid fa-globe" style="color: black;"></i></h2>
            <h2 class="eng">English</h2>
            <h2 class="help">Help</h2>
        </div>
    </header>
    <div class="values">
        <h4 class="get">Get Accurate</h4>
        <h4 class="cur">values of your currencies with</h4>
        <h4 class="cryptoss">BITCOIN</h4>
    </div>
    <form action="" method="post">
        <select name="coin" id="" onchange="Selection">
            <option value="">Choose Currency</option>
            <option value="ABC">ABC</option>
            <option value="ACP">ACP</option>
            <option value="ACT">ACT</option>
            <option value="BAR">BAR</option>
            <option value="BAT">BAT</option>
            <option value="BAT">BAY</option>
            <option value="CAS">CAS</option>
            <option value="CAT">CAT</option>
            <option value="CDT">CDT</option>
            <option value="CND">CND</option>
            <option value="CNX">CNX</option>
            <option value="DAS">DAS</option>
            <option value="DASH">DASH</option>
            <option value="DATA">DATA</option>
            <option value="EC">EC</option>
            <option value="EDO">EDO</option>
            <option value="FCT">FCT</option>
            <option value="ACT">FLP</option>
            <option value="GNO">GNO</option>
            <option value="BNT">GNT</option>
            <option value="KIN">KIN</option>
            <option value="LA">LA</option>
            <option value="MLN">MLN</option>
            <option value="NAS">NAS</option>
        </select>
        <a href="#"><button type="submit" class="btn2">Get Value</button></a>
    </form>
    <div class="result">
        <h1 class="s">Status : {{success}}</h1>
        <h1 class="t">Target : {{target}}</h1>
        <h1 class="c">Value of {{coin}} is {{box}}</h1>
    </div>

</body>
</html>